* { padding: 0; margin: 0; }

body {
    overflow-y: scroll;
}

.check-layer {
    margin: 0 auto;
}

.header {
    background: #b08972;
    text-align: center;
}

.header > img {
    width: 60px;
    margin: 15px;
}

.check-process {
    background-color: white;
    text-align: center;
}

.check-process > span {
    display: inline-block;
    width: calc(21% - 6px);
    height: 100px;
    margin: 10px 5px;
    padding: 10px;
    background-color: #683a2f;
    border-radius: 20px;
    text-align: left;
}

.check-process > span > div {
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
}

.process-red {
    background-color: #d72300 !important;
}

/* 음식 목록 선택하기 */
.check-main {
    width: 100%;
    height: 810px;
    position: sticky;
    text-align: left;
    overflow-y: scroll;
}

/* 스크롤 디자인 */
.check-main::-webkit-scrollbar {
    width: 30px;
    height: 10px;
    background-color: #b08972;
    border-radius: 5px;
}

.check-main::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #683a2f;
}

.check-main::-webkit-scrollbar-track {
    background-color: #b08972;
}

.check-menu {
    position: relative;
    display: block;
    width: 100%;
    background-color: #f2ebe6;
    padding: 5px;
    padding-top: 15px;
    padding-bottom: 10px;
}

.check-price1 {
    position: relative;
    left: 20px;
    margin: 10px;
    font-size: 2.0rem;
    font-weight: 700;
}

.check-price2 {
    left: 450px;
    color: #d72300;
}

/* 주문내역 카드 */
.check-card {
    position: relative;
    padding: 10px;
    margin: 5px auto;
    border: solid 2px #683a2f;
    border-radius: 20px;
    width: 95%;
    height: 250px;
    box-shadow: 1px 2px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.check-card > img {
    position: absolute;
    left: 10px;
    top: 10%;
    width: 250px;
    height: 240px;
}

.check-text {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 2.0rem;
    font-weight: 700;
}

.check-option {
    top: 65px;
}

.check-side {
    top: 110px;
}

.check-quantity {
    top: 155px;
}

.check-price {
    top: 200px;
}