* { padding: 0; margin: 0; }

body {
  overflow-y: scroll;
}

.check-layer {
  margin: 0 auto;
}

.check-process {
  background-color: white;
  text-align: center;

  > span {
    display: inline-block;
    width: calc(22% - 6px);
    height: 100px;
    margin: 10px 5px;
    padding: 10px;
    background-color: #683a2f;
    border-radius: 20px;
    text-align: left;

    > div {
      font-size: 1.5rem;
      font-weight: 600;
      color: white;
    }
  }
}

.process-red {
  background-color: #d72300 !important;
}

/* 음식 목록 선택하기 */
.check-main {
  width: 100%;
  height: 80vh;
  position: sticky;
  text-align: left;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 30px;
    height: 10px;
    background-color: #b08972;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #683a2f;
  }

  &::-webkit-scrollbar-track {
    background-color: #b08972;
  }
}

/* 스크롤 디자인 */
.check-menu {
  position: relative;
  display: block;
  width: 100%;
  background-color: #f2ebe6;
  padding: 5px;
  padding-top: 15px;
  padding-bottom: 10px;
}

.check-price1 {
  position: relative;
  left: 20px;
  bottom: 5px;
  margin: 10px;
  font-size: 2.0rem;
  font-weight: 700;
}

.check-price2 {
  left: 30px;
  color: #d72300;
}

/* 주문내역 카드 */
.check-card {
  position: relative;
  padding: 10px;
  margin: 5px auto;
  border: solid 2px #683a2f;
  border-radius: 20px;
  width: 95%;
  height: 250px;
  box-shadow: 1px 2px rgba(0, 0, 0, 0.1);
  overflow: hidden;

  > img {
    position: absolute;
    left: 10px;
    top: 10%;
    width: 250px;
    height: 240px;
  }
}

.check-text {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 2rem;
  font-weight: 700;
}

.check-option {
  top: 65px;
}

.check-side {
  top: 110px;
}

.check-quantity {
  top: 155px;
}

.check-price {
  top: 200px;
}

/* 태블릿 반응형 웹 */
@media (max-width: 1023px) {
  .check-process {
    > span {
      height: 80px;
      margin: 7px 4px;
      padding: 7px;
      background-color: #683a2f;

      > div {
        font-size: 1.3rem;
      }
    }
  }

  .check-main {
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .check-card {
    padding: 7px;
    border: none;
    border-radius: 0;
    border-top: 2px solid #999999;
    border-bottom: 2px solid #999999;
    height: 200px;
    box-shadow: none;

    > img {
      left: 10px;
      top: 10%;
      width: 200px;
      height: 180px;
    }
  }

  .check-text {
    top: 15px;
    right: 15px;
    font-size: 1.7rem;
  }

  .check-option {
    top: 50px;
  }
  
  .check-side {
    top: 85px;
  }
  
  .check-quantity {
    top: 120px;
  }
  
  .check-price {
    top: 155px;
  }

  .check-price1 {
    left: 15px;
    font-size: 1.7rem;
  }
  
  .check-price2 {
    left: 20px;
  }
}

/* 모바일 반응형 웹 */
@media (max-width: 639px) {
  .check-process {
    > span {
      height: 70px;
      margin: 5px 3px;
      padding: 3px;
      background-color: #683a2f;

      > div {
        font-size: 1.0rem;
      }
    }
  }

  .check-card {
    padding: 5px;
    border-top: 1px solid #999999;
    border-bottom: 1px solid #999999;
    height: 150px;
    box-shadow: none;

    > img {
      left: 10px;
      top: 10%;
      width: 150px;
      height: 140px;
    }
  }

  .check-text {
    top: 10px;
    right: 10px;
    font-size: 1.1rem;
  }

  .check-option {
    top: 35px;
  }
  
  .check-side {
    top: 60px;
  }
  
  .check-quantity {
    top: 85px;
  }
  
  .check-price {
    top: 110px;
  }

  .check-price1 {
    left: 10px;
    font-size: 1.3rem;
  }
  
  .check-price2 {
    left: 10px;
  }
}