.header {
  background: #b08972;
  text-align: center;

  > img {
    width: 60px;
    margin: 15px;
  }
}

/* 태블릿 반응형 웹 */
@media (max-width: 1023px) {
  .header {
    > img {
      width: 50px;
      margin: 12px;
    }
  }
}

/* 모바일 반응형 웹 */
@media (max-width: 639px) {
  .header {
    > img {
      width: 40px;
      margin: 10px;
    }
  }
}