.modal {
    display: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalBox {
    position: absolute;
    background-color: #f2ebe6;
    width: 500px;
    height: 200px;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 2px 5px rgba(0, 0, 0, 0.3);
}

/* 안내문 */
.modalBox > div {
    margin-top: 5px;
    font-size: 1.7rem;
    font-weight: 700;
}

/* 수량 */
.quantity {
    font-size: 1.9rem;
}

/* 버튼 */
.modal-button {
    display: inline-block;
    position: absolute;
    width: calc(42% - 2px);
    margin: 6px;
    padding: 10px;
    background-color: #683a2f;
    border-radius: 30px;
    font-size: 1.3rem;
    font-weight: 700;
    color: white;
    cursor: pointer;
}

.cancel-button {
    background-color: #d72300;
}

.decrease-button, .increase-button {
    position: absolute;
    background-color: #999999;
    cursor: pointer;
    padding: 7px;
    border-radius: 15px;
    opacity: 1.0;
    z-index: 1;
}

.decrease-button > img, .increase-button > img {
    width: 30px;
    height: 30px;
}

.decrease-button {
    left: 35%;
}

.increase-button {
    right: 35%;
}

/* 버튼 위치 */
.bottom {
    bottom: 10px;
}

.left {
    left: 10px;
}

.right {
    right: 10px;
}

.center {
    left: 25%;
}