* { padding: 0; margin: 0; }

body {
  overflow-y: scroll;
}

.check-layer {
  margin: 0 auto;
}

.header {
  background: #b08972;
  text-align: center;

  > img {
    width: 60px;
    margin: 15px;
  }
}

.check-process {
  background-color: white;
  text-align: center;
}

.number {
  font-size: 9.0rem;
  line-height: 100%;
  font-weight: 600;
  text-align: center;
}

.pay-number {
  filter: opacity(0.5) drop-shadow(0 0 0 #683a2f);
  width: 600px;
}
