* { padding: 0; margin: 0; }

body {
  overflow-y: scroll;
}

.check-layer {
  margin: 0 auto;
}

.check-process {
  background-color: white;
  text-align: center;
}

.number {
  font-size: 9.0rem;
  line-height: 100%;
  font-weight: 600;
  text-align: center;
}

.pay-number {
  margin-top: 50px;
  margin-bottom: 100px;
  filter: opacity(0.5) drop-shadow(0 0 0 #683a2f);
  width: 600px;
}

/* 태블릿 반응형 웹 */
@media (max-width: 1023px) {
  .number {
    font-size: 7.5rem;
  }

  .pay-number {
    width: 450px;
  }
}

/* 모바일 반응형 웹 */
@media (max-width: 639px) {
  .number {
    font-size: 6.0rem;
  }

  .pay-number {
    width: 300px;
  }
}