* { padding: 0; margin: 0; }

body {
  overflow-y: scroll;
}

.check-layer {
  margin: 0 auto;
}

.check-process {
  background-color: white;
  text-align: center;
}

.text-red {
  color: #d72300;
}

.pay-text2 {
  font-size: 2.0rem;
  padding: 10px;
  line-height: 100%;
  font-weight: 600;
  text-align: center;
}

.pay-card {
  margin-bottom: 20px;
  filter: opacity(0.5) drop-shadow(0 0 0 #683a2f);
  width: 500px;
}

/* 하위 메뉴 */
.paymentprogress-menu {
  position: relative;
  display: block;
  width: 100%;
  background-color: #f2ebe6;
  padding: 5px;
  padding-top: 15px;
  padding-bottom: 10px;
  margin-top: 200px;
}

.guide-button2 {
  width: 45%;
}

/* 태블릿 반응형 웹 */
@media (max-width: 1023px) {
  .pay-text2 {
    font-size: 1.7rem;
    padding: 7px;
  }

  .pay-card {
    margin-bottom: 15px;
    width: 400px;
  }
}

/* 모바일 반응형 웹 */
@media (max-width: 639px) {
  .pay-text2 {
    font-size: 1.3rem;
    padding: 5px;
  }

  .pay-card {
    margin-bottom: 10px;
    width: 300px;
  }
}